nav {
    border-bottom: 4px dotted;
}

.koi ul {
  width: 400px;
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 150;
  font-size: 25px;
  letter-spacing: 1px;
}

.koi {
  display: inline-block;
}
  

body {
  background-color: #DFE1EB;
  font-family: 
  border-style: inset;
  }

h2 {
  font: italic 1.2em "Fira Sans", serif;
  color: #86A1C2;
  }
