body {
  background-color: #FFD9CB;
  padding: 80px;
  margin: 100px;
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 50px;
  width: 80%;
  color: #FFFFFF;
  text-align: center;
  border-style: solid; 
  border-color: white;
  border-width: 10px;
  border-radius: 20px;
  background-color: #FFB296;
  padding: 20px;
}

h2 {
  font-family: 'Courier New', monospace;
  text-align: left;
  border-left: 6px solid #FFB296;
  background-color: #ECECEC;
  padding: 10px;
}
  
h3 {
  font-family: 'Courier New', monospace;
  text-align: center;
  color: #FFFFFF;
}

p {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 20px;
}

